.App {
  text-align: center;
}

.App-background {
  background: url("https://drive.google.com/uc?export=view&id=16x40koaj4Hj620jX4i3R7yoYwm3E8gfh") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  background-position: top right;
  overflow: hidden;
}

